
/* 메인 */
.main-wrap {
  width: 100%;
  min-height: 1000px;
}
.main-title {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* create 아이콘 */
.create-post {
  position: fixed;
  top: 90%;
  left: 75%;
  font-size: 80px; 
  color: var(--primary-color);
  z-index: 1;
}


/* 반응형 */
@media (max-height: 747px) {
  .main-title {
    top: 5%;
  }
}

@media (min-height: 1000px) {
  .main-title {
    top: 15%;
  }
  .main-title h1 {
    font-size: 70px;
  }
  .create-post {
    font-size: 90px;
  }
}

@media (min-width: 415px) {
  .create-post {
    left: 85%;
  }
}