/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Nanum+Gothic&family=Orbit&display=swap');

.delete-button {
  /* position: absolute; */
  top: 10px; /* 원하는 높이 조절 */
  right: 10px; /* 원하는 위치 조절 */
  font-size: 5vw;
}
.delete-button:hover {
  cursor: pointer;
  color: var(--title-color);
}

.detail-page {
  display: grid;
  justify-content: center;
  padding-top: 5vh;
}

.detail-page-box {
  background-color: ivory;
  border-radius: 10px;
  width: 80vw;
  height: 75vh;
  text-align: center;
  padding: 25px;
}

.detail-page-box2{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* 페이지 번호 */
.detail-title p {
  font-family: 'Nanum Gothic', sans-serif;
  font-size:2vh;
}
/* 제목 */
.detail-title h2 {
  font-size: 4vh;
  font-weight: bold;
  font-family: 'Orbit', sans-serif;
}
/* 날짜 */
.date {
  font-size: 1.5vh;
  font-family: 'Gasoek One', sans-serif;
}
/* 내용 */
.detail-body p{
  font-size: 2.5vh;
  font-family: 'Orbit', sans-serif;
}

/* 챗지피티 댓글 */
.detail-review {
  display: flex;
  align-items: center;
  gap: 20px;

  position: relative;
  display: inline-block;
  max-width: calc(100% - 70px);
  padding: 10px;
  margin-top: 9vh;
  font-size: 1.5vh;
  border-radius: 10px;

  margin-left: 20px;
  background-color: #d0dec7;

  /* 높이 제한 및 스크롤 */
  height: 15vh;
  overflow: auto;
}
.icon {
  font-size: 30px;
  color: #7A9D54;
}
.detail-review::before {
  position: absolute;
  display: block;
  top: 0;
  font-size: 1.5rem;

  left: -15px;
  content: "◀";
  color: #d0dec7;
}
