.update-page {
    text-align: center;
    margin-top: 5rem;
}
.update-page h1 {
    font-size: 40px;
}
/* .update-head {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
} */
.not-modify {
    color:red;
    font-weight: bold;
}
.update-page form {
    width: 70vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 3rem;
}
.update-page input {
    height: 5vh;
}
.btn-warp {
    width: 100%;
}
.btn-warp button {
    width: 100%;
}
.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn {
    flex-grow:1;
}
/* .link-button {
    text-decoration: none;
  } */
  