.page-wrap {
  width: 100%;
  min-height: 1000px;
  text-align: center;
  top: 30%;
  position: fixed;
}
/* .page-main {
  
} */
.page-main h1 {
  font-size: 60px;
}
.login-btn {
  width: 10rem;
  height: 3rem;
}
.login-btn p {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
}